html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* header section  */

header {
  position: fixed;
  z-index: 100;
  height: 5.3125rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px black solid;
}

header .content {
  width: 100%;
  margin: 0 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4A4A4A;
  border: 2px blue solid;
}

header .logo {
  flex: 1;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px red solid;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
}

header .icon {
  height: 1.25rem;
  padding-left: .75rem;
}

.button {
  color: white;
  background-color: #9DC20B;
  padding: 4px 10px;
  border-radius: 4px;
}

header .mobile {
  display: none;
}

header .desktop .button {
  display: none;
}

/* for screen width of 1024px or smaller: */
@media only screen and (max-width: 1024px) {

header .desktop .button {
  display: block;
  }

/* for screen width of 520px or smaller: */
@media only screen and (max-width: 520px) {

  header {
    height: 3rem;
  }

  header .desktop {
    display: none;
  }

  header .content {
    margin: 0;
  }

  /* .mobile must be displayed because the default is display: none */
  header .mobile {
    display: block;
    width: 100%;
  }

  header nav ul {
    justify-content: space-around;
  }

  nav li {
    padding: 0;
  }
}
