html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* header section  */

header {
  position: fixed;
  z-index: 100;
  height: 5.3125rem;
  width: 100%;
  background-color: white;
  border: 2px blue solid;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.875rem;
  color: #4A4A4A;
  border: 1px black dashed;
}

header .logo {
  flex: 1;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px red solid;
}

nav li {
  padding-left: 3.5rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
}

header .icon {
  height: 1.25rem;
  padding-left: .75rem;
}

.button {
  color: white;
  background-color: #9DC20B;
  padding: 4px 10px;
  border-radius: 4px;
}

#instagram {
  border: 1px black solid;
}

header .mobile {
  display: none;
}

header .desktop .button {
  display: none;
}

/* for devices having screen width of 1024px or smaller: */
@media only screen and (max-width: 1024px) {

header .desktop .button {
  display: block;
  }

header .desktop {
  display: flex;
  align-items: center;
  }
}

/* for devices having screen width of 520px or smaller: */
@media only screen and (max-width: 520px) {

  header {
    height: 48px;
  }

  .name, .menu, .instagram {
    display: none;
  }

  nav {
    width: 100%;
    justify-content: center;
  }

  .mobile-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-icons img {
    height: 20px;
  }
}
